{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "useTabs": false,
  "plugins": [],
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "insertPragma": false,
        "requirePragma": false
      }
    }
  ]
}
